@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);

}


* {
  scroll-behavior: smooth;
}

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #ecbef5 17.23%,
    #e49df0 42.04%,
    #e27deb 55.12%,
    #d15ce6 71.54%,
    #c233cf 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}

.sign-up-button {
  color: var(--black-black-100, #FFF);
  text-align: center;

  /* button/16px */
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 16px */
  padding: 12px 18px 12px 19px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid var(--gradient-light, rgba(255, 255, 255, 0.47));
  background: var(--gradient-main, linear-gradient(225deg, #18C8FF 14.89%, #933FFE 85.85%));
}

.sign-in-button {
  color: var(--black-black-100, #FFF);
  text-align: center;
  margin-right: 12px;

  /* button/16px */
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 16px */
  padding: 12px 21px 12px 22px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid var(--black-black-100, #FFF);
}




.navbar-links {
  color: var(--black-black-100, #FFF);
  /* buttons-14px */
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 14px */
}

.get-started-button {
  color: var(--black-black-100, #FFF);
  text-align: center;

  /* button/16px */
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 16px */
  display: flex;
  height: 56px;
  padding: 0px 33px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid var(--gradient-light, rgba(255, 255, 255, 0.47));
  background: var(--gradient-main, linear-gradient(225deg, #18C8FF 14.89%, #933FFE 85.85%));
}

.orbit{
  border-radius: 50%;
  border: 1px solid var(--gradient-dark, #484848);
  background-color: rgba(0, 0, 0, 0);
  transform: rotate(14.21deg);
  /* flex-shrink: 0; */
}


.info-block {
  border-radius: 25px;
  background: var(--black-black-12, #1A1B23);
  display: flex;
  max-width: 380px;
  padding: 32px 24px;
  flex-direction: column;
  align-items: center;
  gap: 22px;
  margin: auto;
  height: 320px;
  margin-bottom: 20px;
}

.intro-block {
  align-items: center;
}

.arrow {
  font-size: 34px; /* Adjust the font-size to make the arrow larger */
}

.brighten {
  filter: brightness(200%); /* Adjust the percentage to increase or decrease brightness */
}

.info-button{
  color: var(--primary-purple, #B982FF);
  text-align: center;
  cursor: pointer;
  /* button/16px */
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 16px */
}

.info-block-heading {
  color: var(--black-black-100, #FFF);
  /* text-align: center; */
  
  /* h3-32px */
  /* font-family: Inter; */
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  /* line-height: 130%; */
  /* margin-top: 20px;
  margin-bottom: 18px; */
}

.bg-black-gradient-new {

  background: var(--black-black-12, #1A1B23);
}
.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--black-gradient);
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}